extends layout

block content

  #bm

  .overlay

  .donations
    audio#shots(src="../audio/shots.wav")

    //- .donation#newest
    //-   .profile
    //-     img.picture(src="https://venmopics.appspot.com/u/v3/m/91ec2c4b-0aca-4606-81e0-cec8588d2efe")
    //-     p.name Miles Woods
    //-   p.amount $100.00
    //-   p.memo Fucking gettit

    //- .donation
    //-   .profile
    //-     img.picture(src="https://venmopics.appspot.com/u/v3/m/91ec2c4b-0aca-4606-81e0-cec8588d2efe")
    //-     p.name This Girl
    //-   p.amount $1
    //-   p.memo oh yeah