doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    video(autoplay muted loop id="backgroundVideo")
      source(src="../images/background.mp4" type="video/mp4")
      
    block content

  script(src="/dist/app.bundle.js")
